<a href="https://colab.research.google.com/github/dkchebet7/mtn_work/blob/master/MTN_Python_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importing libraries
import pandas as pd
import numpy as np

In [0]:
# Loadind telecom dataset1 file whcih is the day one data set.

df = pd.read_csv('http://bit.ly/TelecomDataset1')

In [0]:
# Displaying the first rows of the dataset
df.head()

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [0]:
# Checking the information for the day one dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15011816 entries, 0 to 15011815
Data columns (total 10 columns):
product            object
value              int64
datetime           object
cell_on_site       object
dw_a_number_int    object
dw_b_number_int    object
country_a          object
country_b          object
cell_id            object
site_id            object
dtypes: int64(1), object(9)
memory usage: 1.1+ GB

In [0]:
# changing columns of dataset 1 to lower case

# renaming some column names of dataset 1 to column names we can easily work with


df.columns = map(str.lower, df.columns)

columns = ['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int','dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id']

df.columns = columns

df.columns

Index(['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int',
       'dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id'],
      dtype='object')

In [0]:
# loading the telecom dataset 2 file which is for day 2

df2 = pd.read_csv('http://bit.ly/TelecomDataset2')

In [0]:
# Show the first rows of dataset 2

df2.head()

  product  value               datetime  ... country_b     cell_id     site_id
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [0]:
# Checking the information of dataset 2

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19606112 entries, 0 to 19606111
Data columns (total 10 columns):
product            object
value              int64
datetime           object
cell_on_site       object
dw_a_number_int    object
dw_b_number_int    object
country_a          object
country_b          object
cell_id            object
site_id            object
dtypes: int64(1), object(9)
memory usage: 1.5+ GB

In [0]:
# changing columns of dataset 2 to lower case

# renaming some column names of dataset 2 to workable column names

df2.columns = map(str.lower, df.columns)

columns = ['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int','dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id']

df2.columns = columns

df2.columns

Index(['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int',
       'dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id'],
      dtype='object')

In [0]:
#Loading the third dataset which is for day 3

df3 = pd.read_csv('http://bit.ly/TelecomDataset3')

In [0]:
# displaying the first rows of dataset 3

df3.head()

  product  value               datetime  ... country_b     cell_id     site_id
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [0]:
# Checking the information of dataset 3

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14834801 entries, 0 to 14834800
Data columns (total 10 columns):
product            object
value              int64
datetime           object
cell_on_site       object
dw_a_number_int    object
dw_b_number_int    object
country_a          object
country_b          object
cell_id            object
site_id            object
dtypes: int64(1), object(9)
memory usage: 1.1+ GB

In [0]:
# changing columns of dataset 3 to lower case

# renaming some column names of dataset 3

df3.columns = map(str.lower, df.columns)

columns = ['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int','dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id']

df3.columns = columns

df3.columns

Index(['product', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int',
       'dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id'],
      dtype='object')

In [0]:
# Loading the cells_geo file

cells_geo = pd.read_csv('cells_geo.csv', header = 0, index_col=0, delimiter=';')

cells_geo.head()

    VILLES      STATUS LOCALISATION  ... AREA     CELL_ID   SITE_CODE
0   ADJAME  In Service      ABIDJAN  ...  NaN  fbb2e75af3  0bb492ef17
1   ADJAME  In Service      ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2   ADJAME  In Service      ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3  ASSINIE  In Service    INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4  ASSINIE  In Service    INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 11 columns]

In [0]:
# Checking the information of cells_geo dataset

cells_geo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3974 entries, 0 to 3973
Data columns (total 11 columns):
villes          3974 non-null object
status          3907 non-null object
localisation    3974 non-null object
decoupzone      3974 non-null object
zonename        3968 non-null object
longitude       3974 non-null float64
latitude        3974 non-null float64
region          3974 non-null object
area            3951 non-null object
cell_id         3974 non-null object
site_code       3974 non-null object
dtypes: float64(2), object(9)
memory usage: 372.6+ KB

In [0]:
# Changing column names of cells_geo to lower case

cells_geo.columns = map(str.lower, cells_geo.columns)

cells_geo.columns

Index(['villes', 'status', 'localisation', 'decoupzone', 'zonename',
       'longitude', 'latitude', 'region', 'area', 'cell_id', 'site_code'],
      dtype='object')

In [0]:
# Merging cells_geo onto telecom dataset 1 for the first day using inner join to keep only rows that match in the two data frames.

df1_merged = df.merge(cells_geo, how='inner', on='cell_id')

df1_merged.head()

  product  value               datetime  ...  region           area   site_code
0   Voice      0  2012-05-07 08:33:43.0  ...  LAGUNE  ABIDJAN NORTH  7f76d66503
1   Voice      0  2012-05-07 08:36:17.0  ...  LAGUNE  ABIDJAN SOUTH  ffa6bdc032
2   Voice      0  2012-05-07 08:37:47.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
3   Voice      0  2012-05-07 09:56:52.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
4   Voice      0  2012-05-07 20:17:41.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8

[5 rows x 20 columns]

In [0]:
#Checking the number of rows and columns in the new merged data set created.

df1_merged.shape

(176, 20)

In [0]:
# Merging cells_geo onto telecom dataset 2 which is for day 2

# using inner join to find only rows that match in the two data sets.

df2_merged = df2.merge(cells_geo, how='inner', on='cell_id')

df2_merged.head()

  product  value  ...           area   site_code
0   Voice      0  ...     SOUTH WEST  78d279198d
1   Voice      0  ...     SOUTH WEST  956ede9166
2   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032
3   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032
4   Voice      0  ...  ABIDJAN SOUTH  ffa6bdc032

[5 rows x 20 columns]

In [0]:
# Merging cells_geo onto the telcom dataset 3 which is for the 3rd day

# used inner join to the rows that  match for the two datasets

df3_merged = df3.merge(cells_geo, how='inner', on='cell_id')

df3_merged.head()

  product  value  ...           area   site_code
0   Voice      0  ...  ABIDJAN NORTH  5818d7383c
1   Voice      0  ...     SOUTH WEST  956ede9166
2   Voice      0  ...  ABIDJAN NORTH  a55150a8e7
3   Voice      0  ...  ABIDJAN NORTH  a55150a8e7
4   Voice      0  ...  ABIDJAN NORTH  a55150a8e7

[5 rows x 20 columns]

In [0]:
# usingh conmcat function/method, i linked the 3 new merged dataframes 

dataframe = pd.concat([df1_merged, df2_merged, df3_merged], ignore_index=False)

In [0]:
# displaying the first rows of the combined dataframe

dataframe.head()

  product  value               datetime  ...  region           area   site_code
0   Voice      0  2012-05-07 08:33:43.0  ...  LAGUNE  ABIDJAN NORTH  7f76d66503
1   Voice      0  2012-05-07 08:36:17.0  ...  LAGUNE  ABIDJAN SOUTH  ffa6bdc032
2   Voice      0  2012-05-07 08:37:47.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
3   Voice      0  2012-05-07 09:56:52.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
4   Voice      0  2012-05-07 20:17:41.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8

[5 rows x 20 columns]

In [0]:
# dropping irrelevant columns

dataframe.drop(['country_a', 'country_b', 'cell_on_site'], axis = 1, inplace = True)

dataframe.head()

  product  value               datetime  ...  region           area   site_code
0   Voice      0  2012-05-07 08:33:43.0  ...  LAGUNE  ABIDJAN NORTH  7f76d66503
1   Voice      0  2012-05-07 08:36:17.0  ...  LAGUNE  ABIDJAN SOUTH  ffa6bdc032
2   Voice      0  2012-05-07 08:37:47.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
3   Voice      0  2012-05-07 09:56:52.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8
4   Voice      0  2012-05-07 20:17:41.0  ...  LAGUNE  ABIDJAN SOUTH  3e46cdd0e8

[5 rows x 17 columns]

In [0]:
# checking for number of missing/null values.

dataframe.isnull().sum()

product              0
value                0
datetime             0
dw_a_number_int      0
dw_b_number_int      0
cell_id              0
site_id            376
villes               0
status               1
localisation         0
decoupzone           0
zonename             0
longitude            0
latitude             0
region               0
area                 0
site_code            0
dtype: int64

In [0]:
# dropping the 'site_id' column due to many missing values

dataframe.drop('site_id', axis = 1, inplace = True)

# Filled missing column with median

dataframe.fillna(np.median, inplace = True)

#Confirming if there no other null values
dataframe.isnull().sum()

product            0
value              0
datetime           0
dw_a_number_int    0
dw_b_number_int    0
cell_id            0
villes             0
status             0
localisation       0
decoupzone         0
zonename           0
longitude          0
latitude           0
region             0
area               0
site_code          0
dtype: int64

In [0]:
# changing the datetime column to datetime type

dataframe.datetime = pd.to_datetime(dataframe.datetime)

# splitting the datetime to date and time

dataframe['date'] = [d.date() for d in dataframe.datetime]

dataframe['time'] = [d.time() for d in dataframe.datetime]

dataframe['date'] = pd.to_datetime(dataframe['date'])

dataframe['time'] = pd.to_datetime(dataframe['time'], format='%H:%M:%S:%f', errors = 'ignore')

# Confirming whether the changes have been made

dataframe.dtypes

product                    object
value                       int64
datetime           datetime64[ns]
dw_a_number_int            object
dw_b_number_int            object
cell_id                    object
villes                     object
status                     object
localisation               object
decoupzone                 object
zonename                   object
longitude                 float64
latitude                  float64
region                     object
area                       object
site_code                  object
date               datetime64[ns]
time                       object
dtype: object

In [0]:
# Find the cities which were used most for the three days

dataframe.groupby(['date', 'villes']).size()

date        villes
2012-05-07  ABOBO            9
            ADJAME           6
            ATTECOUBE        4
            BINGERVILLE      3
            COCODY          65
            KOUMASSI         6
            MARCORY         10
            PLATEAU          5
            PORT-BOUET      14
            SONGON           2
            SOUBRE           3
            TIASSALE        18
            TOUMODI          1
            TREICHVILLE     14
            YAMOUSSOUKRO    11
            YOPOUGON         5
2012-05-08  ABOBO           10
            ATTECOUBE        1
            COCODY          25
            KOUMASSI         2
            MARCORY         22
            PLATEAU          4
            PORT-BOUET       5
            SAN-PEDRO        3
            SOUBRE           2
            TANDA            1
            TIASSALE         2
            TIEBISSOU        1
            TREICHVILLE      7
            YAMOUSSOUKRO    10
            YOPOUGON         6
2012-05-09  ABENGOUROU       1
            ABOBO            6
            ADJAME           2
            COCODY          38
            GAGNOA           1
            KOUMASSI         6
            MARCORY         12
            PLATEAU          2
            PORT-BOUET       5
            SONGON           1
            SOUBRE           3
            TANDA            1
            TIASSALE         6
            TIEBISSOU        1
            TOUMODI          3
            TREICHVILLE      5
            YAMOUSSOUKRO     6
dtype: int64

In [0]:

import datetime

business_hours =dataframe[(dataframe.datetime.dt.time >= datetime.time(9)) & (dataframe.datetime.dt.time <= datetime.time(17))]

business_hours.head()

   product  value            datetime  ...   site_code       date      time
3    Voice      0 2012-05-07 09:56:52  ...  3e46cdd0e8 2012-05-07  09:56:52
10   Voice      0 2012-05-07 10:06:36  ...  78d279198d 2012-05-07  10:06:36
11   Voice      0 2012-05-07 10:06:52  ...  78d279198d 2012-05-07  10:06:52
12   Voice      0 2012-05-07 10:12:16  ...  78d279198d 2012-05-07  10:12:16
13   Voice      0 2012-05-07 15:18:06  ...  78d279198d 2012-05-07  15:18:06

[5 rows x 18 columns]

In [0]:
# Found cities which were used most during business hours from 9am to 5pm

business_hours.groupby('villes')['villes'].count().sort_values(ascending = False)

villes
COCODY          93
MARCORY         32
TREICHVILLE     20
YAMOUSSOUKRO    18
PORT-BOUET      17
ABOBO           15
TIASSALE        15
KOUMASSI        13
ADJAME           6
YOPOUGON         5
SOUBRE           5
PLATEAU          4
ATTECOUBE        4
SAN-PEDRO        3
SONGON           3
BINGERVILLE      3
TANDA            1
TIEBISSOU        1
TOUMODI          1
ABENGOUROU       1
Name: villes, dtype: int64

In [0]:
# cities which were used most during home hours, i.e 5pm to 9am

home_hours =dataframe[~ ((dataframe.datetime.dt.time >= datetime.time(9)) & (dataframe.datetime.dt.time <= datetime.time(17)))]

home_hours.head()

  product  value            datetime  ...   site_code       date      time
0   Voice      0 2012-05-07 08:33:43  ...  7f76d66503 2012-05-07  08:33:43
1   Voice      0 2012-05-07 08:36:17  ...  ffa6bdc032 2012-05-07  08:36:17
2   Voice      0 2012-05-07 08:37:47  ...  3e46cdd0e8 2012-05-07  08:37:47
4   Voice      0 2012-05-07 20:17:41  ...  3e46cdd0e8 2012-05-07  20:17:41
5   Voice      0 2012-05-07 08:43:12  ...  bea164ff9b 2012-05-07  08:43:12

[5 rows x 18 columns]

In [0]:
# found cities which were used most during home hours from  5pm to 9am
home_hours.groupby('villes')['villes'].count().sort_values(ascending = False)

villes
COCODY          35
MARCORY         12
TIASSALE        11
ABOBO           10
YAMOUSSOUKRO     9
PLATEAU          7
PORT-BOUET       7
TREICHVILLE      6
YOPOUGON         6
SOUBRE           3
TOUMODI          3
ADJAME           2
TANDA            1
TIEBISSOU        1
KOUMASSI         1
GAGNOA           1
ATTECOUBE        1
Name: villes, dtype: int64

In [0]:
# Most used city for the three days

dataframe.groupby('villes')['villes'].count().sort_values(ascending = False)

villes
COCODY          128
MARCORY          44
YAMOUSSOUKRO     27
TREICHVILLE      26
TIASSALE         26
ABOBO            25
PORT-BOUET       24
KOUMASSI         14
PLATEAU          11
YOPOUGON         11
SOUBRE            8
ADJAME            8
ATTECOUBE         5
TOUMODI           4
SAN-PEDRO         3
SONGON            3
BINGERVILLE       3
TANDA             2
TIEBISSOU         2
GAGNOA            1
ABENGOUROU        1
Name: villes, dtype: int64

In [0]:
#Found the product which was used each and every day for the 3 days.

dataframe.groupby(['date', 'product'])['product'].count().sort_values(ascending = False)

date        product
2012-05-07  Voice      176
2012-05-08  Voice      101
2012-05-09  Voice       99
Name: product, dtype: int64

In [0]:
#Found the region which used our product the most and which product it was

dataframe.groupby(['region', 'product'])['product'].count().sort_values(ascending = False)

region         product
LAGUNE         Voice      328
LACS           Voice       33
BAS SASSANDRA  Voice       11
ZANZAN         Voice        2
MOYEN COMOE    Voice        1
FROMAGER       Voice        1
Name: product, dtype: int64

In [0]:
#Found which area used our product the most and which product it was
dataframe.groupby(['area', 'product'])['product'].count().sort_values(ascending = False)

area           product
ABIDJAN NORTH  Voice      183
ABIDJAN SOUTH  Voice      119
SOUTH WEST     Voice       38
CENTRE NORTH   Voice       33
EAST           Voice        3
Name: product, dtype: int64

In [0]:
#Found which cities used our product the most.
dataframe.groupby('villes')['villes'].count().sort_values(ascending = False).head()

villes
COCODY          128
MARCORY          44
YAMOUSSOUKRO     27
TREICHVILLE      26
TIASSALE         26
ABOBO            25
PORT-BOUET       24
KOUMASSI         14
PLATEAU          11
YOPOUGON         11
SOUBRE            8
ADJAME            8
ATTECOUBE         5
TOUMODI           4
SAN-PEDRO         3
SONGON            3
BINGERVILLE       3
TANDA             2
TIEBISSOU         2
GAGNOA            1
ABENGOUROU        1
Name: villes, dtype: int64